-e .[redis,postgres,kafka,google-cloud-pubsub]

# Documentation
mkdocs
mkautodoc
mkdocs-material

# Packaging
twine
wheel

# Tests & Linting
autoflake
black
coverage
flake8
flake8-bugbear
flake8-pie
isort
mypy
pytest
pytest-asyncio
pytest-sugar
pytest-trio
trio
trio-typing
